@using LogicLayer
@model MvcApp.Models.Account.AccountViewModel

@{
    ISecurityHelper _securityHelper = ViewBag.SecurityHelper;

    bool IsAdmin = _securityHelper.GetRole(User.Identity.Name) == "Admin";

    if (IsAdmin)
    {
        Layout = "~/Views/Shared/_AdminAccount.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    ViewBag.Title = "Account";
}

@if (!IsAdmin)
{
    <div class="container body-content">
        @Html.Partial("_Account")
    </div>
}
else
{
    @Html.Partial("_Account")
}




