@using LogicLayer.Security

@{
    ViewBag.Title = "Chat";

    SecurityHelper _securityHelper = ViewBag.SecurityHelper;

    if (_securityHelper.GetGroupForUser(User.Identity.Name).Contains("Admin"))
    {
        Layout = "~/Views/Shared/_AccountPartialAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AccountPartialAll.cshtml";
    }
}

<div id="page-wrapper" ng-controller="messageCtrl">
    <div class="container-fluid" style="bottom: 0">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Chat</h1>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-2 control-label">
                        Add contact
                    </div>
                    <input type="text" class="col-md-10 form-control inline" data-autocomplete-source="@Url.Action("AutocompleteSearch", "Account")" autocomplete="on" />

                    <input style="margin-left:15px" class="btn btn-success" type="button" value="+Add" />
                </div>
            </div>
        </div>

        <hr />

        <div style="margin-bottom:10px" class="inline">
            Records per page : {{pageSize}}
            <a style="margin-left:10px" id="prevButton" href="" ng-click="prevClick()">
                Previous
            </a>
            {{currentPage+1}}/{{numberOfPages()}}
            <a id="nextButton" href="" ng-click="nextClick()">
                Next
            </a>

        </div>



        <table class="table paginated">
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Login
                </th>
                <th>
                    Date of last message
                </th>
                <th>
                    Message
                </th>
            </tr>

            <tr ng-repeat="contact in contacts | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td><img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle"></td>
                <td>{{contact.Login}}</td>
                <td>{{contact.Date}}</td>
                <td>{{contact.Message}}</td>
            </tr>
        </table>

    </div>
</div>