@model MvcApp.Models.Account.LoginViewModel

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Account"))
{
    <div class="container" id="Login">
        <h1> Login</h1>
        <hr />
        <div class="row">
            <div class="col-md-1 col-lg-1 col-sm-2 col-xs-3">
                @Html.LabelFor(model => model.Login)
            </div>
            <div class="col-md-1 col-lg-1 col-sm-2 col-xs-2">
                @Html.EditorFor(model => model.Login)
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-1 col-lg-1 col-sm-2 col-xs-3">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="col-md-1 col-lg-1 col-sm-2 col-xs-2">
                @Html.EditorFor(model => model.Password)
            </div>
        </div>

        <br />

        <button class="btn btn-success" type="submit" >Log In</button>
    </div>
}
