@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_AccountPartial.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid" style="bottom: 0">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Profile information</h1>
            </div>
        </div>
    </div>
</div>