@using LogicLayer.Security

@{
    ViewBag.Title = "Users Information";

    Layout = "~/Views/Shared/_AccountPartialAdmin.cshtml";
}

<div id="page-wrapper" ng-controller="usersInformationCtrl">

    <div class="container-fluid" style="bottom: 0">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Users information</h1>
            </div>
        </div>

        <div style="margin-bottom:10px">
            Records per page : {{pageSize}}
        </div>

        <table class="table paginated">
            <tr>
                <th>

                </th>
                <th>
                    Full name
                </th>
                <th>
                    <a href="" style="color:black" ng-click="loginSort()">Login</a>
                </th>
                <th>
                    <a href="" style="color:black" ng-click="isActiveSort()">IsActive</a>
                </th>
                <th>
                    Group
                </th>
                <th>
                    Date of registration
                </th>
            </tr>

            <tr ng-repeat="user in users | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td align="center"><a href="" ng-click="edit(user.Login)"> Edit </a>| <a href="" ng-click="delete(user.Login)"> Delete </a></td>
                <td>{{user.Name}} &nbsp; {{user.Surname}}</td>
                <td>{{user.Login}}</td>
                <td><input type="checkbox" ng-model="user.IsActive" ng-click="checkClick(user.Login,user.IsActive)"></td>
                <td>{{user.Id_Group}}</td>
                <td>{{user.DateOfRegistration}}</td>
            </tr>

        </table>

        <a id="prevButton" href="" ng-click="prevClick()">
            Previous
        </a>
        {{currentPage+1}}/{{numberOfPages()}}
        <a id="nextButton" href="" ng-click="nextClick()">
            Next
        </a>

        <script type="text/ng-template" id="editUserModal.html">
            <div class="modal-header">
                <h3 class="modal-title">
                    Adding
                </h3>
            </div>

            <div style="margin:30px">

                <img src="http://placehold.it/100/55C1E7/fff" alt="User Avatar" class="img-circle">
                <div class="container body-content" style="margin-top:-100px">

                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-2 control-label">
                                Name
                            </div>
                            <input ng-model="user.Name" class="col-md-10 form-control inline" />

                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">
                                Surname
                            </div>
                            <input ng-model="user.Surname" class="col-md-10 form-control inline" />
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label">
                                E-mail
                            </div>
                            <input ng-model="user.Email" class="col-md-10 form-control inline" />
                        </div>

                        <div class="form-group">
                            <div class="col-md-2 control-label">
                                Group
                            </div>

                            <div class="dropdown btn-group">
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                    {{userGroup}}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="group in groups">
                                        <a href="" ng-click="changeGroup(group.Group)">{{group.Group}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

                <table class="table paginated" style="margin-top:20px">
                    <tr>
                        <th>
                            Download
                        </th>
                        <th>
                            Upload
                        </th>
                        <th>
                            Said thanks
                        </th>
                        <th>
                            Received thanks
                        </th>
                    </tr>

                    <tr>
                        <td>{{}}</td>
                        <td>{{}}</td>
                        <td>{{}}</td>
                        <td>{{}}</td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">Ok</button>
                <button class="btn btn-warning" ng-click="cancel()">Close</button>
            </div>
        </script>

        <script type="text/ng-template" id="deleteUserModal.html">
            <div class="modal-header">
                <h3 class="modal-title">
                    Are you sure you want to delete user
                    <br />
                    <b>{{fullName}}</b>?
                </h3>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">Ok</button>
                <button class="btn btn-warning" ng-click="cancel()">Close</button>
            </div>
        </script>

    </div>
</div>
