<h2>RecordView
    
    </h2>

<div id="nameModel">
    {{records}}
</div>
<div id="descriptionModel">
    {{records}}
</div>
<div id="compare">
    <button type ="submit" onclick="compareFunction()">
        Compare
    </button>
</div>

<div id="recordTabs">
    <ul id="recordTabs-nav">
        <li>
            <a href="#techicalDetails">
                Techical characteristic
            </a>
        </li>
        <li>
            <a href="#photoDetails">
                Photo
            </a>
        </li>
        <li>
            <a href="#videoDetails">
                Video
            </a>
        </li>
        <li>
            <a href="#documentsDetails">
                Documents
            </a>
        </li>
    </ul>
    <div id="techicalDetails">
        TechnicalCharacteristic
    </div>
    <div id="photoDetails">
        photo
    </div>
    <div id="videoDetails">
        video
    </div>
    <div id="documentsDetails">
        documents
    </div>

</div>
<div id="info1">
</div>

<script>
    $(function () {
        $("#recordTabs").tabs({
            heightStyle: "fill",
            collapsible: true,
            hide: "slideUp"
        });
    });
</script>
<script>
    function compareFunction() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Compare", "CatalogView")' + '?str='+':'+$('#ddlCompare').find('option:selected').val(),
            cache: false
        });
    }
</script>