@model IEnumerable<LogicLayer.CatalogManager.TreeView>
@foreach (var treeNode in Model)
{
    <ul id="treeChild">
        @if (treeNode != null)
        { 
            <li>
                    @Ajax.ActionLink(String.Format("{0}",treeNode.NodeName), "Details", new { id = treeNode.Rec.ID, description = treeNode.NodeDescription }, new AjaxOptions()
{
    HttpMethod = "GET",
    UpdateTargetId = "disc",
    InsertionMode = InsertionMode.Replace
})
                @if (treeNode.ChildNode.Count > 0)
                {
                    @Html.Partial("ChildNode", treeNode.ChildNode)
                }
            </li> 
        }
    </ul>
} 