@model LogicLayer.CatalogManager.TreeView

<div id="catalog">
    <ul id="tree">
        <li>
            <a href="#" onclick="myfunction()">@Model.NodeName</a>
            @Html.Partial("ChildNode", Model.ChildNode)
        </li>
    </ul>
</div> 
<div id="disc">
</div>


<script>
    function myfunction() {
        $('#disc').html('@Model.NodeDescription')
    }
</script>
