@model LogicLayer.CatalogManager.TreeView
@{

    ViewBag.Title = "Index";
}
<div id="catalog">
    <ul id="tree">
        <li>
            <a href="#">@Model.NodeName</a>
            @Html.Partial("ChildNode", Model.ChildNode)
        </li>
    </ul>
</div> 
