<div ng-app="myApp">
    <div id="catalog" ng-controller="catalogCtrl">
        <div data-angular-treeview="true"
             data-tree-id="abc"
             data-tree-model="treedata"
             data-node-id="id"
             data-node-label="label"
             data-node-children="children"
             data-ng-click="selectNode(abc.currentNode)">
        </div> 
    </div>
    <div id="disc">
    </div>
</div>
