@{
    ViewBag.Title = "Task";
    Layout = "~/Views/Shared/_AccountPartialAdmin.cshtml";
}

<div id="page-wrapper" ng-controller="taskCtrl">
    <div class="container-fluid" style="bottom: 0">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Task</h1>
            </div>
        </div>
    </div>
</div>
