@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper">
    <div class="navbar-default sidebar" style="margin-top:0;bottom:0;top:51px" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <div style="padding:15px 20px; font-size:20px;color: #428bca;">Account</div>
                </li>
                <li>
                    <a href="ProfileInformation"><i class="fa fa-user fa-fw"></i> Profile information</a>
                </li>
                <li>
                    <a href="Chat"><i class="fa fa-comments fa-fw"></i> Chat</a>
                </li>
            </ul>
        </div>
    </div>
    @RenderBody();
</div>
