<link href="~/Content/navigation.css" rel="stylesheet">

@if (Request.IsAuthenticated)
{
    <div class="b">
        Пользователь: @User.Identity.Name
        @Html.ActionLink("Log Out", "Logout", "Account")
    </div>
}
else
{
    <div class="b">
        @Html.ActionLink("Log In ", "Login", "Account")
    </div>
    
    <div class="b">
        @Html.ActionLink("Register", "Register", "Account")
    </div>
}
